body {
    /* overflow: hidden; */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.placeholder {
    background-color: #ccc;
    width: 300px;
    height: 400px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.image {
    /* max-width: 190px;
    max-height: 280px; */
}

.image.fly {
    position: absolute;
}

.template {
    display: none;
}